/* *****************************************
*  GENERAL
******************************************** */

body {
  /* to keep page form exceeding width of the banner */
  /* max-width: 940px; */
}

/* background banner at top of page */
#banner {

}


/* spinner shown while waiting for ajax calls */
.spinner {
  width: 100px;
  height: 100px;
  text-align: center;
}

/* "My movie ratings" title in banner */
#app-title {

}

/* *****************************************
*  IMG -- handle broken poster urls
******************************************** */

img {
  min-height: 50px;
}

/* Cover up the default broken image gif */
img:before {
  content: " ";
  display: block;

  position: absolute;
  top: -10px;
  left: 0;
  height: calc(100% + 10px);
  width: 100%;
  background-color: rgb(230, 230, 230);
  border: 2px dotted rgb(200, 200, 200);
  border-radius: 5px;
}

/* display message for broken image */
img:after {
  content: "\f127" " Broken Image of " attr(alt);
  display: block;
  font-size: 16px;
  font-style: normal;
  font-family: FontAwesome;
  color: rgb(100, 100, 100);

  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
  text-align: center;
}

/* *****************************************
*  PAGE CONTENT AREA
******************************************** */

/* content area below the menu bar */
.content {
  background-color: lavender;
  padding: 15px;
}

/* content area below the menu bar */
.error-message {
  background-color: lavender;
  margin: 0;
  /* padding: 15px; */
}

/* Marker for divs that are filled in by ajax.
   When changing to another menu all divs with this class are set to "".
   This prevents the problem of the card accordians shadowing each other's
   ID names since the all use "accordion" and set the assignment id's with
   the same naming covnetion. IE, if an accordion is setup but not removed
   from existence when a second accordion is setup they will have elements
   with the same name and confuse bootstrap. */
.auto-clear {
   /* intentionally blank */
}

/* *****************************************
*  TABLE TO DISPLAY ASSIGNMENT DETAILS
******************************************** */

#accordion table {
  border-radius:   20px;
  border-spacing:  0;
  border-width:    2px;
  box-shadow:      0 0 20px 3px #777777;
  background: #FDEBD0;
  padding: 15px;
  /* border: solid;   NOT WORKING, WON'T USE RADIUS ON THE BS CARDS  */
  /* #DCEDC8; */
  /* #FEF5E7; */
  /* #FAD7A0; */
}

#accordion td, #accordion tr, #accordion th {
  border-width: 0px;
  padding:      6px;
}

#accordion td {
  vertical-align: top;
  padding-right: 12px;
  /* want a little more space on the right */
}

#accordion th {
  /* sections headings for the assignment details */
  vertical-align: top;
  font-weight:    bold;
  text-align:     right;
  padding-left:   12px;
  /* want a little more space on the left */
}

/* right justify all the table entries in this section */
#list-volunteer-stats-annual th, #list-volunteer-stats-annual tr {
  text-align: right;
}
/* *****************************************
*  COLLAPSING LISTS TO VIEW ASSIGNMENTS (Open and My)
******************************************** */

/* Coloring the card-headers is a bit of a kludge.  The default .card-header
   is set with the highlight color for selected / opened card.  The
   .collapsed class overrides this and will be the default color that all
   card-headers have when the page loads since they all load in a collapsed state.
 */

.card-header {
  /* the highlight color for opened cards */
  background-color: lightblue;
  cursor: pointer;
}
.card-header:hover {
  background-color: lightblue;
  /* cursor: pointer; */
}
.collapsed {
  /* the standard color overriding .card-header */
  background-color: rgb(247, 247, 247);
}
.card-body {
  background-color: white;
  /* #FDF2E9; */
}
